.venv/
__pycache__/
*.py[cod]
.env

# Dados:
data_raw/
data_processed/
data/
outputs/
*.duckdb
*.duckdb.wal
*.duckdb.tmp/
dbt/ci/.user.yml

# Arquivos temporários / sistema
report-source.md
Contexto/
guias/
logs/
.DS_Store
Thumbs.db
.vscode/
/.quarto/
**/*.quarto_ipynb
